@import url('https://fonts.googleapis.com/css2?family=Alata&family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.text20{
  font-family: 'Alata', sans-serif;
  font-size: 20px;
}

.oi:nth-child(3n) {
 border: solid 2px #00BFC3;
 border-bottom: 0px;/* ou qualquer cor desejada */
}
.oi:nth-child(3n -2) {
  border: solid 2px #FDD23B;
  border-bottom: 0px; /* ou qualquer cor desejada */
}
.oi:nth-child(3n -1) {
  border: solid 2px #78FF47;
  border-bottom: 0px;/* ou qualquer cor desejada */
}


.text16{
  font-family: 'Alata', sans-serif;
  font-size: 16px;
}
.text20{
  font-family: 'Alata', sans-serif;
  font-size: 20px;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes waveAnimation {
  0% {
    transform: scaleY(1);
    
  }
  50% {
    transform: scaleY(4);
    background-color: #78FF47
  }
  100% {
    transform: scaleY(1);
  }
}

.wave {
  width: 3px;
  height: 10px;
  animation: waveAnimation 2s ease-in-out infinite;
  transform-origin: center;
  animation-delay: 1s; 
  transition: transform 0.5s ease-in-out;
  animation-play-state: running; /* Ponto de origem para a transformação de escala */
}


  .wave.paused {
    animation-play-state: paused;
  }


.wv2{
  animation-delay: 0.6s;
}
.wv3{
  animation-delay: 1s;
}
.wv4{
  animation-delay: 1.1s;
}
.wv5{
  animation-delay: 1.6s;
}
.wv6{
  animation-delay: 1.9s;
}
.wv7{
  animation-delay: 2.4s;
}
.wv8{
  animation-delay: 3s;
}
.wv9{
  animation-delay: 3.1s;
}
.wv10{
  animation-delay: 3.7s;
}
.wv11{
  animation-delay: 4s;
}
.wv12{
  animation-delay: 5.1s;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
